.table-responsive {
    max-height: 200px;
}

.table.queries tr td:first-child {
    border: 0;
    background-color: white;
    width: 1%; 
    cursor: default;
}

.table.queries tr td:nth-child(3), .table.queries tr td:nth-child(4) {
    text-align: right;
}

.table.queries tr td:nth-child(5) {
    text-align: center;
}

.table.queries tr td:nth-child(6) {
    text-align: center;
}

.glyphicon {
    cursor: pointer;
}

table.queries tr:hover {
    cursor: pointer;
    background-color: #ccc;
}